### Maven ###
target/

### Logs ###
*.log

### Java ###
*.class

### IntelliJ ###
.idea/
*.iml
*.iws

### VS Code ###
.vscode/

### STS / Eclipse ###
.classpath
.project
.settings/

### OS ###
.DS_Store

.env